# Ignore virtual environment folder
.venv/

# Optional: Python junk files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code files
.vscode/

# notebooks
scratch.ipynb

# datasets
datasets/*

# outputs
output/*